<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APPLICATION_LOG" value="logs/admin-ui-backend.log"/>
    <property name="AUDIT_LOG" value="logs/admin-ui-audit.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING-APPLICATION-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APPLICATION_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/admin-ui-backend.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
                it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING-AUDIT-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AUDIT_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/admin-ui-audit.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
                it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.gluu.adminui.app.controllers.logging" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING-AUDIT-LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE-ROLLING-APPLICATION-LOG"/>
    </root>

</configuration>